@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

/* ====================
	* CONFIGURACION *
==================== */
*,
*::after,
*::before {
	box-sizing: border-box;
	
}

/* ====================
	* VARIABLES *
==================== */
:root {
	--fuente: 'Poppins', sans-serif;
	--fondo: transparent;
	--ancho-contenedor: 1200px;
	--bg-primary: #0d6efd;
	--bg-secondary: #198754;
	--bg-indigo: #6610f2;
	--bg-purpul: #6f42c1
	--bg-pink: #d63384;
	--bg-orange: #fd7e14;
	--bg-tael: #20c997;
	--bg-cian: #0dcaf0;
	--bg-warning: #ffc107;
	--bg-danger: #f44336;
	--bg-dark: #000;
	--bg-ligth: #e0e0e0;
	--bg-defaul: #ababab;

	/* btn */ 
	--btn-primary: #0d6efd;
	--btn-secondary: #198754;
	--btn-indigo: #6610f2;
	--btn-purpul: #6f42c1;
	--btn-pink: #d63384;
	--btn-orange: #fd7e14;
	--btn-tael: #20c997;
	--btn-cian: #0dcaf0;
	--btn-warning: #ffc107;
	--btn-danger: #f44336;
	--btn-dark: #000;
	--btn-ligth: #e0e0e0;
	--btn-defaul: #dbdbdb;
}

/* ====================
	* ESTILOS GENERALES *
==================== */
body {
	background: transparent;
	font-family: var(--fuente);
	font-size: 18px;
}

p {
	line-height: 27px;
}

img {
	vertical-align: top;
	width: 100%;
}

/* ====================
	* CONTENEDORES *
==================== */
.contenedor {
	max-width: 90%;
	width: var(--ancho-contenedor);
	margin: 20px auto;
	overflow: hidden;
}

.contenedor-ancho {
	width: 100%;
	padding: 0 40px;
	margin: 20px auto;
}

/* ====================
	* COMPONENTES *
==================== */
.alert{
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
  animation: close 0.5s;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;

}

.closebtn:hover {
  color: black;
}

.bar{
  width: 100%;
  background-color: #ddd;
}

.bar .skills{
  text-align: right;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
}

.bar .skills.html {width: 90%; background-color: #04AA6D;}
.bar .skills.css {width: 80%; background-color: #2196F3;}
.bar .skills.js {width: 65%; background-color: #f44336;}
.bar .skills.php {width: 60%; background-color: #808080;}

.modal{
	background: #ffffff;
	display: none;
	position: fixed; 
    z-index: 1;
    width: 100%;
    height: 100%;
	top: 0;
	left: 0;
    overflow: auto;
	background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
	max-width: 100%;
}

.modal-content {
	max-width: 90%;
	border-radius: 5px;
    background-color: #fff;
    margin: 2% auto; 
    padding: 40px;
    width: 90vh; 
	height: 44vh;
	left: 0;
    top: 0;
	animation-name: modal;
    animation-duration: 0.9s;
}

.modal-text{
	margin: 30px;
}

.modal-header{
	border-bottom: 0.5px solid #000;
	padding: 4px 15px;
}

.modal-footer{
	border-top: 0.5px solid #000;
	padding: 9px 15px;
}


.popup {
  margin: 5px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

.card {
	background: #fff;
	border-radius: 5px;
	box-sizing: border-box;
	border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.card-body{
	padding: 22px;
	margin: 0 auto;
	
}

.card-title{
	font-size: 22px;
	color: #000;
}

.card-subtitle{
	font-size: 18px;
	color: #4d4d4d;
}

.nav {
    overflow: hidden;
	background: rgba(67, 16 ,195);
	transition: all 0.2s linear;
}

.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover{
	transition: all 0.2s linear;
}

.nav a.active {
  background: rgba(67, 16 ,195);
  color: white;
  transition: all 0.2s linear;
}

.nav a.icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
 
}

.nav a:hover, .dropdown:hover .dropbtn {
  background: rgba(67, 16 ,195);
  color: white;
  transition: all 0.2s linear;
}

.dropdown-content a:hover {
  background: rgba(67, 16 ,195);
  color: #ffffff;
  transition: all 0.2s linear;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: all 0.2s linear;
}


/* ====================
	* FUENTES *
==================== */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
}

.display-1 {
	font-weight: 700;
	font-size: 64px;
}

.display-2 {
	font-weight: 700;
	font-size: 54px;
}

.display-3 {
	font-weight: 700;
	font-size: 44px;
}

/* ====================
	* FORMULARIOS *
==================== */
.form * {
	font-family: var(--fuente);
}

.form .input {
	padding: 10px 15px;
	border-radius: 3px;
	border: .3px solid #d6d6d6;
	transition: .3s ease all;
	width: 100%;
	margin-bottom: 20px;
}

.form .input:focus {
	border: 1px solid #641ee7;
	outline: none;
}

/* ====================
	* Buttoms *
==================== */
.btn {
	background: #641ee7;
	border: none;
	cursor: pointer;
	color: #fff;
	display: inline-block;
	padding: 10px 15px;
	border-radius: 3px;
	text-align: center;
	line-height: 22px;
	transition: .3s ease all;
	margin: 3px;
}

.btn-outline{
	background: transparent;
	border: none;
	border: 2px solid #641ee7;
	cursor: pointer;
	color: #641ee7;
	display: inline-block;
	padding: 10px 15px;
	border-radius: 3px;
	text-align: center;
	line-height: 22px;
	transition: .3s ease all;
	margin: 3px;
}

.btn-outline .active{
	background: #641ee7;
	border: none;
	cursor: pointer;
	color: #fff;
	display: inline-block;
	padding: 10px 15px;
	border-radius: 3px;
	text-align: center;
	line-height: 22px;
	transition: .3s ease all;
	margin: 3px;
}
	
.btn:hover {background: #5114c2;}
.btn-primary{background: var(--btn-primary);color: #fff;}
.btn-primary:hover{background: #08599b;color: #fff;}
.btn-secondary{background: var(--btn-secondary);color: #fff;}
.btn-secondary:hover{background: #0e673e;color: #fff;}
.btn-cian{background: var(--btn-cian);color: #fff;}
.btn-cian:hover{background: #0887a1;color: #fff;}
.btn-orange{background: var(--btn-orange);color: #fff;}
.btn-orange:hover{background: #bc5b0b;color: #fff;}
.btn-purpul{background: var(--btn-purpul);color:#fff;}
.btn-purpul:hover{background: #4f2a92;color:#fff;}
.btn-indigo{background: var(--btn-indigo);color:#fff;}
.btn-indigo:hover{background: #4c0fae;color:#fff;}
.btn-pink{background: var(--btn-pink);color:#fff;}
.btn-pink:hover{background: #a32966;color:#fff;}
.btn-tael{background: var(--btn-tael);color:#fff}
.btn-tael:hover{background: #179670;color:#fff}
.btn-black{background: var(--btn-dark);color: #fff;}
.btn-black:hover{background: #303030;color: #fff;}
.btn-light{background: var(--btn-ligth);color: #000;}
.btn-light:hover{background: #c2c2c2;color: #000;}
.btn-warning{background: var(--btn-warning);color: #fff;}
.btn-warning:hover{background: #e68a00;color: #fff;}
.btn-danger{background: var(--btn-danger);color: #fff;}
.btn-danger:hover{background: #da190b;color: #fff;}
.btn-disabled{pointer-events: none;opacity: 0.5;}


/* ====================
	* HELPERS *
==================== */

.no-margin { margin: 0 }
.no-margin-top { margin-top: 0 }
.no-margin-bottom { margin-bottom: 0 }
.no-margin-left { margin-left: 0 }
.no-margin-right { margin-right: 0 }

.stick-top{overflow: hidden;position: fixed; top: 0; width: 100%;}
.stick-bottom{overflow: hidden;position: fixed; bottom: 0; width: 100%;}
.stick-left{overflow: hidden;position: fixed; left: 0; width: 100%;}
.stick-right{overflow: hidden;position: fixed; right: 0; width: 100%;}


.margin-bottom {margin-bottom: 20px;}
.margin-top {margin-top: 20px;}

.text-center {text-align: center;}
.text-left {text-align: left;}
.text-rigth {text-align: right;}

.border-top{border-top: 0.5px solid #a3a3a3;}
.border-bottom{border-bottom: 0.5px solid #a3a3a3;}
.border-left{border-left: 0.5px solid #a3a3a3;}
.border-right{border-right: 0.5px solid #a3a3a3;}

.bg-primary{background-color: var(--bg-primary);}
.bg-secondary{background-color: var(--bg-secondary);}
.bg-indigo{background-color: var(--bg-indigo);}
.bg-purpul{background-color: var(--bg-purpul);}
.bg-pink{background-color: var(--bg-pink);}
.bg-orange{background-color: var(--bg-orange);}
.bg-tael{background-color: var(--bg-tael);}
.bg-cian{background-color: var(--bg-cian);}
.bg-warning{background-color: var(--bg-warning);}
.bg-danger{background-color: var(--btn-danger);}
.bg-black{background-color: #000;}

/* ====================
	* GRID *
==================== */
.grid {
	display: grid;
	gap: 20px;
	margin-bottom: 20px;
}

/* Tamaño Grande - Computadoras y TV */
.col-1 { grid-template-columns: repeat(1, 1fr); }
.col-2 { grid-template-columns: repeat(2, 1fr); }
.col-3 { grid-template-columns: repeat(3, 1fr); }
.col-4 { grid-template-columns: repeat(4, 1fr); }
.col-5 { grid-template-columns: repeat(5, 1fr); }
.col-6 { grid-template-columns: repeat(6, 1fr); }
.col-7 { grid-template-columns: repeat(7, 1fr); }
.col-8 { grid-template-columns: repeat(8, 1fr); }
.col-9 { grid-template-columns: repeat(9, 1fr); }
.col-10 { grid-template-columns: repeat(10, 1fr); }
.col-11 { grid-template-columns: repeat(11, 1fr); }
.col-12 { grid-template-columns: repeat(12, 1fr); }

.span-1 { grid-column: span 1; }
.span-2 { grid-column: span 2; }
.span-3 { grid-column: span 3; }
.span-4 { grid-column: span 4; }
.span-5 { grid-column: span 5; }
.span-6 { grid-column: span 6; }
.span-7 { grid-column: span 7; }
.span-8 { grid-column: span 8; }
.span-9 { grid-column: span 9; }
.span-10 { grid-column: span 10; }
.span-11 { grid-column: span 11; }
.span-12 { grid-column: span 12; }

/* Tamaño Mediano - Tablets */
@media screen and (max-width: 992px) {
	.med-col-1 { grid-template-columns: repeat(1, 1fr); }
	.med-col-2 { grid-template-columns: repeat(2, 1fr); }
	.med-col-3 { grid-template-columns: repeat(3, 1fr); }
	.med-col-4 { grid-template-columns: repeat(4, 1fr); }
	.med-col-5 { grid-template-columns: repeat(5, 1fr); }
	.med-col-6 { grid-template-columns: repeat(6, 1fr); }
	.med-col-7 { grid-template-columns: repeat(7, 1fr); }
	.med-col-8 { grid-template-columns: repeat(8, 1fr); }
	.med-col-9 { grid-template-columns: repeat(9, 1fr); }
	.med-col-10 { grid-template-columns: repeat(10, 1fr); }
	.med-col-11 { grid-template-columns: repeat(11, 1fr); }
	.med-col-12 { grid-template-columns: repeat(12, 1fr); }

	.med-span-1 { grid-column: span 1; }
	.med-span-2 { grid-column: span 2; }
	.med-span-3 { grid-column: span 3; }
	.med-span-4 { grid-column: span 4; }
	.med-span-5 { grid-column: span 5; }
	.med-span-6 { grid-column: span 6; }
	.med-span-7 { grid-column: span 7; }
	.med-span-8 { grid-column: span 8; }
	.med-span-9 { grid-column: span 9; }
	.med-span-10 { grid-column: span 10; }
	.med-span-11 { grid-column: span 11; }
	.med-span-12 { grid-column: span 12; }
}

/* Tamaño Pequeño - Celulares */
@media screen and (max-width: 576px) {
	.peq-col-1 { grid-template-columns: repeat(1, 1fr); }
	.peq-col-2 { grid-template-columns: repeat(2, 1fr); }
	.peq-col-3 { grid-template-columns: repeat(3, 1fr); }
	.peq-col-4 { grid-template-columns: repeat(4, 1fr); }
	.peq-col-5 { grid-template-columns: repeat(5, 1fr); }
	.peq-col-6 { grid-template-columns: repeat(6, 1fr); }
	.peq-col-7 { grid-template-columns: repeat(7, 1fr); }
	.peq-col-8 { grid-template-columns: repeat(8, 1fr); }
	.peq-col-9 { grid-template-columns: repeat(9, 1fr); }
	.peq-col-10 { grid-template-columns: repeat(10, 1fr); }
	.peq-col-11 { grid-template-columns: repeat(11, 1fr); }
	.peq-col-12 { grid-template-columns: repeat(12, 1fr); }
	.nav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .nav a.icon {
    float: right;
    display: block;
  }
	.nav.responsive {position: relative; transition: all 0.2s linear;}
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .nav.responsive .dropdown {float: none;}
  .nav.responsive .dropdown-content {position: relative;transition: all 0.2s linear;}
  .nav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
	  transition: all 0.2s linear;
  }
	

}

/* ====================
	* Animations *
==================== */

@keyframes modal {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

@keyframes close{
	from{top: -300px; opacity: 0}
	to{top: 0; opacity:1}
}

@keyframes slideDown {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes show_toast {
  0% {
    transform: translateY(100%);
  }
  40% {
    transform: translateY(5%);
  }
  80% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(10px);
  }
}



@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
	}

/* ====================
	* FINAL *
==================== */
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

pre, code {
  white-space: pre-wrap; /* permite saltos de línea en el código */
  font-family: monoespaciada; /* usa una fuente  para que el código quede bien alineado */
  background-color: #f5f5f5; /* agrega un fondo gris claro para destacar el código */
  padding: 1em; /* agrega un margen alrededor del código */
  border-radius: 0.3em; /* redondea las esquinas del contenedor */
}
